$s1: 0.75em;
$s2: 0.5em;
$h1: 1em;
$h2: 1.25em;
$h3: 1.5em;
$h4: 1.75em;
$h5: 2em;
$h6: 2.5em;

.loader {
  display: grid;
  align-self: center;
  justify-self: center;
  z-index: 1000;
  &__text {
    color: white;
    font-size: $h3;
    text-align: center;
    font-family: 'Artifika';
  }
}
