* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}

body {
  background: #555;
}

*::-webkit-scrollbar {
  width: 0.5em;
}
 
*::-webkit-scrollbar-track {
  
}
 
*::-webkit-scrollbar-thumb {
  background-color: rgb(169, 169, 169, .8);
}

#root {
  display: grid;
}

a {
  color: black;
  text-decoration: inherit;
  &:visited, &:active {
    color: black;
    text-decoration: inherit;
  }
}

.box {
  padding: 10px;
  border-radius: 20px;
  margin: 5px 0;
  max-width: 550px;
  min-width: 100px;
  overflow-y: hidden;
  &--basic {
    background: white;
  }
  &--login {
    min-width: 300px;
  }
  &--warn {
    background: rgb(206, 37, 37);
    color: white;
  }
}
