.navigation {
  display: grid;
  position: fixed;
  top: 10px;
  right: 10px;
  grid-auto-flow: column;
  grid-template-rows: repeat(7, 24px);
  grid-row-gap: 4px;
  z-index: 100;
  &__button {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    &:hover {
      width: auto;
      grid-auto-flow: column;
      .navigation__text {
        text-align: right;
        text-shadow: -2px -2px 1px black;
        color: rgba(254, 255, 0);
        display: block;
        grid-column: 1;
        margin-left: -80px;
        margin-right: 3px;
        padding: 0 3px;
      }
    }
  }
  &__text {
    display: none;
    grid-column: 1;
    font-family: 'Sofia';
  }
  &__icon {
    grid-column: 2;
    background-color: rgba(254, 255, 0);
    border-radius: 50%;
    padding: 2px;
  }
}