$width: 100px;
$s1: 0.75em;
$s2: 0.5em;
$h1: 1em;
$h2: 1.25em;
$h3: 1.5em;
$h4: 1.75em;
$h5: 2em;
$h6: 2.5em;
$w: 33px;
$h: 16px;
$r0: 18;
$r1: 6;
$r2: 5;

.post {
  &__button {
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-column-gap: 3px;
    align-self: end;
    align-items: center;
    height: 26px;
    padding: 1px 2px;
    background: rgba(0, 128, 0, 0.6);
    font-family: 'Artifika';
    color: white;
    &:visited, &:active {
      color: white;
    }
    &:hover {     
      background: rgba(0, 128, 0, 0.4);
    }
    &--meh {
      background: rgba(255, 0, 0, 0.6);
      &:hover {     
      background: rgba(255, 0, 0, 0.4);
      }
    }
    &--rated {
      background: rgba(128, 128, 128, 0.7);
      color: white;
      &:hover {     
        background: rgba(128, 128, 128, 0.4);
      }
    }
    .post__icon {
      width: 20px;
    }
    &--main {
      background: none;
      grid-template-columns: auto 1fr;
      height: auto;
      .post__icon {
        width: 40px;
      }
      .post__text {
        color: gray;
      }
      &.post__button--rated {
        .post__text {
          color: black;
        }
      }
      &:hover {
        background: none;
        color: black;
        .post__impressed  {
          stroke: yellow;
          fill: yellow;
        }
        .post__meh  {
          stroke: black;
          fill: none;
        }
        &.post__button--rated {
          color: gray;
          .post__impressed  {
            stroke: gray;
            fill: none;
          }
          .post__meh  {
            stroke: gray;
            fill: none;
          }
        }
      }
    }
  }
}
