$width: 100px;
$s1: 0.75em;
$s2: 0.5em;
$h1: 1em;
$h2: 1.25em;
$h3: 1.5em;
$h4: 1.75em;
$h5: 2em;
$h6: 2.5em;
$w: 33px;
$h: 16px;
$r0: 18;
$r1: 6;
$r2: 5;

.post {
  border: 1px solid black;
  display: grid;
  background: beige;
  grid-template-rows: 4fr 1fr;
  font-size: 1rem;
  color: white;
  &:hover {
    cursor: pointer;
    .post__details {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    h2 {
      display: block;
    }
  }
  &__details {
    display: none;
    grid-row: 2;
    &:hover {
      cursor: default;
    }
  }
  &__personal {
    display: grid;
    grid-column: 1 / span 2;
    justify-items: center;
    align-items: center;
    background: rgba(0, 0, 0, .4);
    .post__title {
      grid-row: 1;
      font-family: 'Artifika';
      &:hover {
        cursor: pointer;
      }
    }
    .post__user {
      grid-row: 2;
      font-family: 'Sofia';
      font-size: $s1;
    }
  }
  &--main {
    .post__title {
      font-size: $h3;
    }
    .post__user {
      font-size: $h1;
    }
  }
  &--sub1 {
    .post__title {
      font-size: $h1;
    }
  }
  &--sub2 {
    .post__title {
      font-size: $s1;
    }
  }
  &--stand-alone {
    display: grid;
    background: white;
    max-height: calc(100% - 20px);
    grid-template-columns: 1fr 400px;
    grid-template-rows: repeat(3, auto) 1fr auto;
    grid-column-gap: 5px;
    margin: 10px 40px 25px 40px;
    padding: 0 10px 0 0;
    text-align: center;
    overflow: hidden;
    .post__image-container {
      display: grid;
      position: relative;
      grid-column: 1;
      grid-row: 1 / span 5;
      max-width: 100%;
      max-height: 100%;
      justify-content: center;
      align-content: center;
      background: black;
      .button--previous {
        position: absolute;
        top: 50%;
        left: 50px;
        transform: translate(0, -50%);
      }
      .button--next {
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translate(0, -50%);
      }
      .post__image {
        max-width: 100%;
      }
    }
    .post__title {
      display: initial;
      font-family: 'Artifika';
      font-size: $h3;
      grid-column: 2;
      grid-row: 1;
      &:hover {
        text-decoration: underline;
      }
    }
    .post__user {
      display: grid;
      font-family: 'Sofia';
      font-size: $h2;
      grid-column: 2;
      grid-row: 2;
      &:hover {
        text-decoration: underline;
      }
    }
    .post__summary {
      display: initial;
      grid-column: 2;
      grid-row: 3;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: justify;
      border-bottom: 1px solid rgb(128, 128, 128, .5);
      padding: 3px;
      margin-bottom: 5px;
    }
    .post__buttons {
      display: grid;
      grid-column: 2;
      grid-row: 5;
      grid-template-columns: auto auto 1fr auto auto;
      padding: 0 3px;
      .post__text {
        font-size: $h2;
      }
      .post__share-icon {
        &--facebook:hover {
          fill: #3b5998;
        }
        &--twitter:hover {
          fill: #0084b4;
        }
      }
    }
    .post__comments {
      grid-column: 2;
      grid-row: 4;
    }
  }
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
