$s1: 0.75em;
$s2: 0.5em;
$h1: 1em;
$h2: 1.25em;
$h3: 1.5em;
$h4: 1.75em;
$h5: 2em;
$h6: 2.5em;

.messages {
  display: grid;
  justify-content: center;
  grid-row-gap: 3px;
  word-break: break-all;
  margin-top: 3px;
  font-size: 1rem;
  justify-self: center;
  .message {
    display: grid;
    max-width: 600px;
    grid-template-columns: 1fr 100px auto;
    background: white;
    align-content: center;
    overflow: hidden;
    grid-column-gap: 3px;
    padding: 3px;
    &__header {
      font-size: $h3;
      text-align: center;
      font-family: 'Artifika';
    }
    &:nth-child(even) {
      background: #e9e4fd;
    }
    &__text, &__date, &__user {
      padding: 3px;
      font-size: $h2;
      max-height: 1.8em;
      overflow: hidden;
      &:hover:not(.message__date) {
        text-decoration: underline;
      }
    }
    &__text {
    }
    &__date {
    }
    &__user {
    }
  }
}