$s1: 0.75em;
$s2: 0.5em;
$h1: 1em;
$h2: 1.25em;
$h3: 1.5em;
$h4: 1.75em;
$h5: 2em;
$h6: 2.5em;

.login {
  display: grid;
  justify-self: center;
  z-index: 100;
  font-size: 1rem;
  &__header {
    font-size: $h3;
    text-align: center;
    font-family: 'Artifika';
    padding: 0 0 10px 0;
  }
  &__button {
    display: grid;
    grid-auto-flow: column;
    .button__title {
      align-self: center;
      font-size: $h2;
      text-align: center;
      font-family: 'Artifika';
    }
  }
}
