$s1: 0.75em;
$s2: 0.5em;
$h1: 1em;
$h2: 1.25em;
$h3: 1.5em;
$h4: 1.75em;
$h5: 2em;
$h6: 2.5em;

.profile {
  display: grid;
  grid-template-rows: $h3 calc(147px - $h3);
  justify-content: center;
  justify-self: center;
  grid-row-gap: 3px;
  word-break: break-all;
  margin-top: 3px;
  &__avatar {
    grid-column: 1;
    background: yellow;
    grid-row: 1 / span 2;
    width: 150px;
  }
  &__image {
    width: 150px;
    height: 150px;
  }
  &__title {
    font-size: $h2;
    grid-column: 2;
    text-align: center;
    min-width: 360px;
    max-width: 500px;
    font-family: 'Artifika';
    overflow: hidden;
  }
  &__bio {
    grid-column: 2;
    max-width: 500px;
    overflow: hidden;
    text-align: justify;
    padding: 3px;
  }
  &__button {
    grid-column: 1 / span 2;
  }
  &__edit {
    grid-template-rows: initial;
    .submit__header {
      font-size: $h3;
      text-align: center;
      font-family: 'Artifika';
      padding: 0 0 10px 0;
    }
    .submit__label {
      grid-column: 1 / span 1;
      font-family: 'Artifika';
      text-align: center;
    }
    .submit__title {
      grid-column: 1 / span 1;
      font-family: 'Artifika';
      text-align: center;
    }
    .profile__avatar {
      grid-row: auto;
      justify-self: center;
      width: 150px;
      height: 150px;
    }
    .submit__button {
      grid-column: 1 / span 1;
      margin-bottom: 7px;
      margin-top: -3px;
    }
    .submit__input--text {
      border: none;
      border-bottom: 1px solid black;
      margin-bottom: 10px;
      resize: vertical;
      &:focus {
        outline: none;
      }
    }
  }
}